$mainFont: 'Open Sans', sans-serif;
$primColor: #0CAC7E;
$navColor: #BAA747;
$primText: #ffffff;
$textInMap: #657B86;
$borderColor: #D0DBE2;
$metalic: #fafafa;
$lightgray: #3d3d3d;
$borderline: #dadada;
