@import "../bower_components/susy/sass/susy";
@import "../bower_components/breakpoint-sass/stylesheets/breakpoint";
@import "reset";
@import "variables";
@import "fonts";
@import "grids";
@import "mixin";
@import "media";

body {
  font-family: $mainFont;
  a {
    text-decoration: none;
  }
  .wrapper{
    .container {
      @include innerbox(0,1);
    }
    .coverHeader {
      background-color: $primColor;
      height: 100px;
    }
    .header {
      .headerContent {
        padding-top: 30px;
      }
      .language {
        background: #fff;
        height: 52px;
        width: 91px;
        float: right;
        text-align: center;
        ul {
          padding-top: 20%;
        }
        li {
          display: none;
          &:nth-child(1){
            display: block;
          }
        a {
          text-decoration: none;
          color: #000;
        }
        }
        &:hover {
          ul li {
            display: block;
          }
        }
      }
      .logo {
        display: inline-block;
        vertical-align: bottom;
        img {
          max-width: 100%;
        }
      }
      .logoText{
        display: inline-block;
        vertical-align: super;
        span {
          font-weight: bold;
          margin-left: 8px;
          font-size: 20px;
          color: #fff;
        }
      }
    }
    .coverNavbar {
      background-color: $navColor;
      min-height: 60px;
    }
    .navbar {
      @include clearfix;
      width: 100%;
      height: 100%;
      #mainMenu {
        float: left;
      }
      #mainMenu ul {
        list-style-type: none;
        li {
          display: inline-block;
          padding-top: 23px;
          padding-bottom: 23px;
          a {
            text-decoration: none;
            text-transform: capitalize;
            color: $primText;
            font-size: 14px;
            font-weight: 400;
            padding-right: 40px;
          }
        }
      }
      #searchForm {
        float: right;
        padding-top: 10px;
        padding-bottom: 10px;
        input {
          width: 220px;
          height: 40px;
          border: 1px solid $primText;
          border-radius: 30px;
          outline: none;
          font-size: 14px;
          padding: 0 10px;
        }
      }
    }
    .slider {
      img {
        @include img_res;
      }
    }
    .coverServices {
      background-color: $navColor;
      min-height: 164px;
    }
    @include with-layout(7){
      .services {
        ul {
          @include clearfix;
        }
        li{
          @include gallery(1 inside no-gutters);
          text-align: center;
          padding: 35px 0;
        }
        li:hover {
          background-color: $primColor;
        }
        .service_img {
          margin-bottom: 20px;
        }
        .service_name {
          color: $primText;
          font-size: 14px;
          font-family: $mainFont;
        }
      }
    };
    .coverTerritory {
      background-color: #ffffff;
      // min-height: 450px;
    }
    @include with-layout(7 inside no-gutters){
      .territory_control {
        @include clearfix;
        padding-top: 50px;
        padding-bottom: 0;
        .territory_heading {
          padding-bottom: 40px;
          span {
            text-align: left;
            text-transform: uppercase;
            font-size: 18px;
            color: #000000;
            font-weight: 600;
          }
        }
        .territory_left {
          @include span(5);
          @include with-layout(5){
            .map {
              @include span(3);
            }
            .map_content {
              @include span(2 last);
              .territorial_info {
                min-width: 240px;
                min-height: 150px;
                padding: 130px 55px 130px 25px;
                a {
                  display: block;
                  padding-bottom: 20px;
                  text-decoration: underline;
                  color: $primColor;
                  font-size: 14px;
                  font-weight: 600;
                }
                p {
                  text-align: justify;
                  overflow: hidden;
                  color: $textInMap;
                  font-size: 12px;
                  line-height: 14px;
                }
                .button_more {
                  display: inline-block;
                  margin-top: 30px;
                  width: 130px;
                  height: 40px;
                  border: 2px solid $navColor;
                  border-radius: 40px;
                  text-align: center;
                  a {
                    text-decoration: none;
                    display: block;
                    padding: 13px 0;
                    text-transform: capitalize;
                    font-size: 12px;
                    font-weight: 600;
                    color: $navColor;
                  }
                }
              }
            }
          };
        }
        .territory_right {
          @include span(2 last);
          border-left: 1px solid $borderColor;
          margin-left: -1px;
          .territory_right_services {
            padding-left: 40px;
            .territory_services{
              #first_service {
                padding-bottom: 20px;
                padding-top: 0;
              }
              #last_service {
                border-bottom: none;
              }
              .service {
                padding-bottom: 20px;
                padding-top: 20px;
                border-bottom: 1px solid $borderColor;
                a {
                  display: block;
                  color: $textInMap;
                }
                div {
                  display: inline-block;
                  vertical-align: middle;
                }
                .territory_img {
                  width: 80px;
                }
                .territory_service_name {
                  width: 160px;
                }
              }
            }
          }
        }
      }
    };
  }
}
